/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FCFFF5;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #000; }
a:hover   { color: #aaa; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
  font-size: 32px;
}

.posts li a {
  color: #193441;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  position: relative;
}

.header {
  margin-bottom: 2em;
}

.header a {
  font-weight: 300;
  text-decoration: none;
}

.header a strong {
  font-weight: 800;
}

.title {
  display: inline-block;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
}
.title a{
  color: #3E606F;
}

.tagline {
  color: #91AA9D;
  margin: 0;
}

.meta {
  color: #91AA9D;
  text-align: center;
}

.footer {
  font-size: 80%;
  color: #D1DBBD;
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  overflow: hidden;
}

.footer a {
  color: #D1DBBD;
}

.footer a:hover{
  color: #91AA9D;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 19px;
  position: relative;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0 5px;
  border-radius: 3px;
  margin: 0 2px;
}

.post pre code {
  padding: 0;
  margin: 0;
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-title {
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #193441;
}
