/* With help from Poole */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 38rem) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #FCFFF5;
  -webkit-text-size-adjust: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

.emoji {
  display: inline-block;
  margin: 0;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #fff;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #ddd;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f8f8f8;
}

a         { color: #515151; }
a:hover   { color: #aaa; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2rem;
}

.posts li {

  text-align: left;
  margin-bottom: 1rem;
}

.posts li a {
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  color: #193441;
  text-decoration: none;
}

.posts li span.description {
  display: inline-block;
  font-size: .75rem;
  line-height: 1;
}

.post-title, .page-title {
  text-align: center;
  color: #193441;
}

.post ul, .post ol {
  margin-left: 1.35rem;
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

.container {
  max-width: 38rem;
  padding-top: 1rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

header {
  margin-bottom: 2em;
}

header a {
  font-weight: 300;
  text-decoration: none;
}

header a strong {
  font-weight: 800;
}

.title {
  display: inline-block;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
}
.title a{
  color: #3E606F;
}

.tagline {
  color: #91AA9D;
}

.meta {
  font-size: .8rem;
  color: #91AA9D;
  text-align: center;
  margin-top: -.5rem;
}

footer {
  font-size: .7rem;
  color: #D1DBBD;
  border-top: 1px solid #eee;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

footer::selection, footer *::selection {
  background-color: #515151;
}

footer::-moz-selection, footer *::-moz-selection{
  background-color: #515151;
}

footer a {
  color: #D1DBBD;
}

footer a:hover{
  color: #91AA9D;
}

/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

code {
  padding: 0 .5em;
  font-size: 85%;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 2px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  background-color: #f8f8f8;
  overflow-x: scroll;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.post pre code {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.profile-picture {
  text-align: center;
  height: 150px;
}

.profile-picture img {
  border-radius: 75px;
  display: inline-block;
}


/*****************************************************************************/
/*
/* Anchor Links
/*
/*****************************************************************************/
/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-link:before {
  content: "\f0c1";
}
/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}