---
layout: default
title: Home
---

<ul class="posts">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.description %}<span class="description">{{ post.description }}</span>{% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Posts that I've written on other blogs</h2>
<ul class="posts">
  <li>
    <a href="http://dev.paperlesspost.com/how-i-tracked-down-a-flaky-test/397">How I Tracked Down a Flaky Test</a>
    <span class="description">My journey of fixing a flaky test, this was featured in a <a href="http://rubyweekly.com/issues/308">Ruby Weekly Issue</a>!</span>
  </li>
  <li>
    <a href="http://dev.paperlesspost.com/skipping-tests-minitest/214">Skipping tests in Minitest</a>
    <span class="description">There are many ways to skip tests in Minitest but be careful of the default way</span>
  </li>
</ul>
