---
layout: default
title: Home
---

<ul class="posts">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.description %}<span class="description">{{ post.description }}</span>{% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Posts that I've written on other blogs</h2>
<ul class="posts">
  <li>
    <a href="http://dev.paperlesspost.com/how-i-tracked-down-a-flaky-test/397">How I Tracked Down a Flaky Test</a>
    <span class="description">My journey of fixing a flaky test, this was featured in a <a href="http://rubyweekly.com/issues/308">Ruby Weekly Issue</a>!</span>
  </li>
  <li>
    <a href="http://dev.paperlesspost.com/skipping-tests-minitest/214">Skipping tests in Minitest</a>
    <span class="description">There are many ways to skip tests in Minitest but be careful of the default way</span>
  </li>
</ul>

<h2>Notable contributions</h2>
<ul>
  <li>
    <span class="description"><a href="https://github.com/brigade/scss-lint/pull/825">Add a SpaceAfterComment linter for scss-lint</a></span>
  </li>
  <li>
    <span class="description">Security fixes for rubygems and rubygems.org: See <a href="https://github.com/rubygems/rubygems.org/commit/47c715e5b7d96b3c4a6da680bc1403d85e12cde5">here</a> and <a href="https://github.com/rubygems/rubygems.org/commit/cc492ed91c0865ceac5554ebb56ed57f9506237d">here</a></span>
  </li>
  <li>
    <span class="description"><a href="https://github.com/bundler/bundler/commit/1df3308a1e94e37d5266e478854be360bb467f41">Display issue for bundler</a></span>
  </li>
  <li>
    <span class="description"><a href="https://github.com/substack/node-browserify/pull/1365">Symlink issue for browserify</a> (my code was merged in <a href="https://github.com/substack/node-browserify/commit/ec829dfac8380873ed8aee9c995220638082af55">this commit</a>)</span>
  </li>
</ul>
