<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="UiM1khOi-7bYxFeIAX3OwH-1zo9_sN2Z01ME_sVXdTU" />
    <title>Ivan Tse - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- exo font -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:800,300' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/responsive-nav.css">
    {% if page.title != '404' %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% endif %}

  </head>
    <body>
      {% include nav.html %}

      <div class="container">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

      </div>
    {% include scripts.html %}
    </body>
</html>
