<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ivan Tse - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- exo font -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:800,300' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/responsive-nav.css">

  </head>
    <body>
      {% include nav.html %}

      <div class="container">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

      </div>
    {% include scripts.html %}
    </body>
</html>
